// Пример использования svg спрайтов
.tw {
	margin: 0;
  font-size: 16px;
  
  &:before {
    @include spriteSvg(twitter);
    content: '';
    display: block;
  }
  
  &:hover {
    &::before {
      @include spriteSvg(twitterHover, bg);
    }
  }
}
// Пример использования svg symbols
.svg-icon {
  width: 100px;
  height: 100px;
}

