// Пример использования иконки symbols
.icon_cart {
  font-size: 30px;

  &_red {
    color: red;
  }
}

// Пример использования sprite svg
.icon_facebook {
  padding-left: 30px;
  position: relative;
  font-size: 14px;

  &:before {
    content: '';
    @include centered(y);
    left: 0;
    @include spriteSvg(facebook,1);
  }
}

// Пример использования sprite png
.icon_example {
  @include sprite($example);
}
  
