.icon__svg {
	display: block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

// 
// .icon-cart {
// 	font-size:(15/10)*1rem;
// 	width:(15/15)*1em;
// }
// 
// .icon-facebook {
// 	font-size:(22/10)*1rem;
// 	width:(10/22)*1em;
// }
// 