$icons: (
  sprite: (width: 129px, height: 121px, svgPath: '../imgs/sprite.svg'),
 	cart: (width: 15px, height: 15px, backgroundX: 0px, backgroundY: 0px),
 	facebook: (width: 10px, height: 22px, backgroundX: -25px, backgroundY: -25px),
 	twitter: (width: 32px, height: 22px, backgroundX: -45px, backgroundY: -57px),
 	twitterHover: (width: 32px, height: 22px, backgroundX: -87px, backgroundY: -89px),
);