.icon__svg {
	display: block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon__svg_cart {
	font-size:(15/10)*1rem;
	width:(15/15)*1em;
}
.icon__svg_facebook {
	font-size:(22/10)*1rem;
	width:(10/22)*1em;
}
