include ../helpers/mixins/icon
include ../helpers/mixins/navLink

doctype html
html(lang='ru')
  block sharedVars
  include ../modules/head
  body
    include ../blocks/symbols.svg.pug
    .wrapper
      block content
    include ../modules/scripts
